# Môi trường ảo
.venv/
venv/
env/

# Database
*.sqlite3
db.sqlite3

# File tạm của Python
__pycache__/
*.pyc
*.pyo
*.pyd

# File media do người dùng tải lên
/media/

# File cấu hình môi trường
.env

# Các file tạm của editor
.vscode/
.idea/
